; KeeperFX Creature Kind Configuration file version 1.0.
; MAIDEN

[attributes]
Health = 1200
NameTextID = 827
Strength = 60
LairSize = 1
HurtByLava = 20

[attraction]
EntranceRoom = BARRACKS NULL NULL
RoomSlabsRequired = 12 0 0
BaseEntranceScore = 8
ScavengeRequirement = 22000
TortureTime = 1000

[experience]
Powers = SWING_WEAPON_FIST SLOW NULL SPIDERLING ARMOUR NULL DRAIN NULL FEAR NULL
PowersLevelRequired = 1 2 0 4 5 0 7 0 9 0
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
