; KeeperFX Creature Kind Configuration file version 1.0.

[attributes]
Name = REAPER
NameTextID = 267
Health = 1500
HealRequirement = 150
HealThreshold = 200
Strength = 100
Armour = 80
Dexterity = 120
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 125
Luck = 20
Recovery = 9
HungerRate = 10000
HungerFill = 4
LairSize = 2
HurtByLava = 0
BaseSpeed = 50
GoldHold = 1000
; Creature clipbox size - XY and Z.
Size = 200 512
AttackPreference = MELEE
Pay = 800
SlapsToKill = 60
DamageToBoulder = 60
; Creature thing size - XY and Z, one cube is 256x256.
ThingSize = 256 590
LairObject = LAIR_REAPER
SpellImmunity = CHICKEN
Properties = BLEEDS HUMANOID_SKELETON IMMUNE_TO_BOULDER LORD NO_STEAL_HERO ONE_OF_KIND

[attraction]
EntranceRoom = LAIR TRAINING GARDEN
RoomSlabsRequired = 20 36 25
BaseEntranceScore = 16
ScavengeRequirement = 22000
TortureTime = 2000

[annoyance]
EatFood = -1000
WillNotDoJob = 450
InHand = 0
NoLair = 4
NoHatchery = 4
WokenUp = 2000
StandingOnDeadEnemy = -50
Sulking = 10
NoSalary = 4000
Slapped = 2250
StandingOnDeadFriend = 120
InTorture = 120
InTemple = -75
Sleeping = -1
GotWage = -750
WinBattle = -1000
Untrained = 0 0
OthersLeaving = 10
JobStress = 0
GoingPostal = 0
Queue = 24
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON

[senses]
Hearing = 10
EyeHeight = 700
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 25

[appearance]
WalkingAnimSpeed = 110
FootstepPitch = 150
VisualRange = 18
PossessSwipeIndex = 3
NaturalDeathKind = NORMAL
ShotOrigin = 0 0 530
CorpseVanishEffect = 0
PickUpOffset = -55 -75
StatusOffset = 270

[experience]
Powers = SWING_WEAPON_SWORD ARMOUR FIREBALL HEAL NULL NULL NULL SLOW NULL WORD_OF_POWER
PowersLevelRequired = 1 2 3 4 0 0 0 8 0 10
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
SleepExperience = HARD 0
ExperienceForHitting = 50

[jobs]
PrimaryJobs = TRAIN
SecondaryJobs =
NotDoJobs = SCAVENGE
StressfulJobs =
TrainingValue = 4
TrainingCost = 100
ScavengeValue = 0
ScavengerCost = 50
ResearchValue = 3
ManufactureValue = 1
PartnerTraining = 0

[sprites]
Stand = REAPER_STAND
Ambulate = REAPER_WALK
Drag = 160
Attack = REAPER_ATTACK
RangedAttack = REAPER_ATTACK
CastSpell = REAPER_ATTACK
Dig = REAPER_ATTACK
Smoke = 176
Relax = 176
PrettyDance = REAPER_CELEBRATE
GotHit = REAPER_HIT
PowerGrab = REAPER_PICK
GotSlapped = REAPER_HIT
Celebrate = REAPER_CELEBRATE
Sleep = REAPER_SLEEP
EatChicken = REAPER_STOMP
Torture = 48
Scream = REAPER_COMPLAIN
DropDead = REAPER_DEATH
DeadSplat = 946
Roar = 174
QuerySymbol = REAPER_PORTRAIT
HandSymbol = REAPER_ICON
Piss = 168

[sounds]
Foot = 5 4
Hit = 337 3
Happy = 335 1
Sad = 336 1
Hurt = 337 3
Die = 340 2
Hang = 342 1
Drop = 343 1
Torture = 344 3
Slap = 347 1
Fight = 332 3
Piss = 171 1
