; KeeperFX Creature Kind Configuration file version 1.0.

[attributes]
Name = WARLOCK
NameTextID = 263
Health = 500
HealRequirement = 150
HealThreshold = 225
Strength = 25
Armour = 15
Dexterity = 100
FearWounded = 12
FearStronger = 1000
FearsomeFactor = 500
Defence = 45
Luck = 6
Recovery = 6
HungerRate = 8000
HungerFill = 3
LairSize = 1
HurtByLava = 20
BaseSpeed = 30
GoldHold = 400
; Creature clipbox size - XY and Z.
Size = 200 512
AttackPreference = RANGED
Pay = 120
SlapsToKill = 17
DamageToBoulder = 30
; Creature thing size - XY and Z, one cube is 256x256.
ThingSize = 240 560
LairObject = LAIR_WARLOCK
Properties = BLEEDS HUMANOID_SKELETON EVIL

[attraction]
EntranceRoom = RESEARCH NULL NULL
RoomSlabsRequired = 9 0 0
BaseEntranceScore = 12
ScavengeRequirement = 22000
TortureTime = 750

[annoyance]
EatFood = -1000
WillNotDoJob = 200
InHand = 0
NoLair = 4
NoHatchery = 1
WokenUp = 250
StandingOnDeadEnemy = -12
Sulking = 3
NoSalary = 2500
Slapped = 750
StandingOnDeadFriend = 75
InTorture = 8
InTemple = -70
Sleeping = -4
GotWage = -750
WinBattle = -450
Untrained = 12000 25
OthersLeaving = 10
JobStress = 0
GoingPostal = 100
Queue = 4
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = PERSUADE

[senses]
Hearing = 10
EyeHeight = 560
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 16

[appearance]
WalkingAnimSpeed = 80
FootstepPitch = 100
VisualRange = 18
PossessSwipeIndex = 1
NaturalDeathKind = NORMAL
ShotOrigin = 0 0 384
CorpseVanishEffect = 0
PickUpOffset = -8 84
StatusOffset = 220

[experience]
Powers = SWING_WEAPON_FIST FIREBALL HEAL NULL NULL NULL SIGHT FIRE_BOMB NULL WORD_OF_POWER
PowersLevelRequired = 1 1 2 0 0 0 7 8 0 10
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
SleepExperience = GOLD 200
ExperienceForHitting = 12

[jobs]
PrimaryJobs = RESEARCH
SecondaryJobs =
NotDoJobs = MANUFACTURE
StressfulJobs =
TrainingValue = 2
TrainingCost = 30
ScavengeValue = 5
ScavengerCost = 25
ResearchValue = 4
ManufactureValue = 1
PartnerTraining = 0

[sprites]
Stand = WARLOCK_STAND
Ambulate = WARLOCK_WALK
Drag = WARLOCK_WALK
Attack = WARLOCK_ATTACK
RangedAttack = WARLOCK_SPELL
CastSpell = WARLOCK_SPELL
Dig = WARLOCK_ATTACK
Smoke = WARLOCK_STAND
Relax = WARLOCK_STAND
PrettyDance = WARLOCK_CHEER
GotHit = WARLOCK_HIT
PowerGrab = WARLOCK_GRAB
GotSlapped = WARLOCK_HIT
Celebrate = WARLOCK_CHEER
Sleep = WARLOCK_SLEEP
EatChicken = WARLOCK_EAT
Torture = 48
Scream = WARLOCK_MOAN
DropDead = WARLOCK_DEAD
DeadSplat = 946
Roar = WARLOCK_ATTACK
QuerySymbol = WARLOCK_PORTRAIT
HandSymbol = WARLOCK_ICON
Piss = WARLOCK_ATTACK

[sounds]
Foot = 1 4
Hit = wl_getting_hit_1.mp3 2
Happy = wl_happy_1.mp3 3
Sad = wl_sad1.mp3 1
Die = wl_dying_1.mp3 1
Hang = wl_in_hand_1.mp3 3
Drop = wl_dropped_1.mp3 1
Torture = wl_torture_1.mp3 2
Slap = wl_slap_1.mp3 2
Fight = wl_melee_1.mp3 3
Piss = 171 1
